# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
TCP-IP DQMH/Libraries/TCP Client/Main.vi
TCP-IP DQMH/Libraries/Test TCP Server API/Main.vi
TCP-IP DQMH
